dialog {
  width: 640px;
  max-width: 90vw;
  height: auto;
  padding: 40px 20px 20px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: fixed;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  color: #666;
}

.closeButton:hover {
  color: #000;
}
